.search-bar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
    padding: 5px 20px;
    background-color: white;
    position: sticky;
    height: 100px;
    padding-right: 95px;
    padding-left: 78px;
}

.favorites-btn {
    background-color: #ff007f;
    border: none;
    color: white;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    font-size: 13px;
    margin-left: 50%; /* Adjust this if needed */
}

.get-movies-btn {
    background-color: transparent;
    border: none;
    color: black;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
    margin-right: 10px; /* Adjust this if needed */
}

.get-movies-btn span, .favorites-btn span {
    margin-right: 8px;
}

.search-bar {
    flex-grow: 1;
    position: relative;
}

.search-bar input {
    width: 100%;
    border: 2px solid #d3d3d3;
    border-radius: 8px;
    padding: 10px; /* Adjust padding to leave space for the icon */
    padding-left: 35px;
    padding-right: 0px;
    outline: none;
    margin-left: 0;
}

.search-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #d3d3d3;
}

.icon-circle {
    display: inline-block;
    background-color: #ff007f; /* Pink background */
    border-radius: 50%; /* Make it a circle */
    padding: 10px; /* Adjust padding to center the icon */
    color: white; /* White icon color */
    margin-right: 8px; /* Space between icon and text */
}

.clear-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    color: black; /* Adjust color as needed */
    font-size: 1.2rem; /* Adjust font size as needed */
    position: absolute;
    right: 0px; /* Adjust position as needed */
    top: 50%;
    transform: translateY(-50%);
}